# Dependencies
node_modules/
package-lock.json

# Build output
_site/
dist/

# Cache
.cache/
.eleventy.cache/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
